rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isAdmin() {
      return request.auth != null && request.auth.token.email != null && (
        request.auth.token.email == 'sahidin30@gmail.com' ||
        request.auth.token.email == 'sahidi30@gmail.com' ||
        exists(/databases/$(database)/documents/admins/$(request.auth.token.email))
      );
    }

    match /users/{userId} {
      allow read, write: if request.auth != null && (request.auth.uid == userId || isAdmin() || request.auth.token.firebase.sign_in_provider == 'google.com');
    }

    match /saves/{saveId} {
      allow read, write: if request.auth != null && (request.auth.uid == saveId || isAdmin() || request.auth.token.firebase.sign_in_provider == 'google.com');
    }
    
    match /admins/{adminEmail} {
      allow read: if request.auth != null;
    }
  }
}
